.task_detail_wrapper {
  background-color: $task_page_bg;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  .task_main_detail_wrapper {
    height: 100%;
    overflow-y: scroll;
    width: 75%;
    &::-webkit-scrollbar {
      display: none;
    }
    display: flex;
    flex-direction: column;
    background-color: $task_main_detail_bg;
    .application_wrapper {
      align-self: flex-start;
      justify-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2%;
      margin-left: 2%;
      .application_name {
        font-weight: bold;
        font-size: 2.3em;
        color: $app_name_dark;
      }
    }
    .task_main_detail {
      padding: 0 12%;
      .task_project {
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 1em;
        text-align: center;
        .project_title {
          font-weight: 700;
        }
      }
      .task_summary {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .task_created_by {
        display: flex;
        margin-bottom: 7vh;
        color: #666;
        font-size: 0.9em;
        .created_by_name {
          height: 100%;
          align-self: center;
          .username_creater {
            font-weight: 600;
          }
        }
      }
      .task_description {
        .description_heading {
          font-size: 1.2em;
          font-weight: 500;
          margin-bottom: 3vh;
        }
      }
      .approval_section {
        margin-top: 10vh;
        display: flex;
        justify-content: end;
        width: 90;
        .approve_button {
          padding: 5px;
          border-radius: 5px;
          color: white;
          cursor: pointer;
        }
        .cancel_approval {
          background-color: #a89393;
        }
        .approve {
          background-color: green;
        }
      }
      .horizontal_line {
        margin-bottom: 5vh;
        width: 90%;
        background-color: #333;
      }
      .task_comment {
        width: 100%;
        .comment_heading {
          font-size: 1.3em;
          font-weight: 600;
        }
        .comment_input {
          font-size: 0.8em;
          padding: 5px;
          width: 100%;
          margin: 10px 0;
        }
        .comment_body {
          width: 100%;
          margin: 10px 0;
          .comment_box {
            background-color: aliceblue;
            font-size: 1.2em;
          }
          .comment_buttons {
            display: flex;
            .button {
              padding: 5px;
              margin: 5px 5px;
              width: fit-content;
              font-weight: 700;
              cursor: pointer;
            }
            .comment_button {
              background-color: $task_other_detail_bg;
              color: $white;
              padding: 5px;
              border-radius: 3px;
            }
            .cancel_button {
              background-color: #ccc;
              padding: 5px;
              border-radius: 3px;
            }
          }
        }
        .comment_section_wrapper {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 2em;
        }
      }
    }
  }
  .task_other_details_wrapper {
    background-color: $task_other_detail_bg;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .task_other_details {
      margin-left: 20%;
      display: flex;
      flex-direction: column;

      .task_approve {
        margin-bottom: 2em;
        font-size: larger;
        font-weight: 600;
        width: fit-content;
        .approved {
          .approved_message {
            background-color: $white;
            padding: 5px;
            color: green;
            border-radius: 5px;
            .approved_check {
              margin-left: 4px;
            }
          }
        }
        .not_approved {
          color: red;
          background-color: $white;
          padding: 5px;
          border-radius: 5px;
        }
      }
      .task_detail_section {
        margin-bottom: 3em;
        .task_heading {
          font-size: 1.3em;
          font-weight: 600;
          color: $white;
        }
        .task_info {
          font-size: 1.4em;
          font-weight: 600;
        }
        .task_status_info {
          appearance: none;
          -webkit-appearance: none;
          background-color: $task_other_detail_bg;
          border: none;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background-color: $task_other_detail_option;
          }
        }
      }
    }
  }
}
