.createTaskModalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  overflow: auto;
  .createTaskModal {
    width: 70%;
    height: 90%;
    .createTaskHeading {
      width: 100%;
      height: 7%;
      background-color: $create_task_heading_bg;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      .headingwrapper {
        display: flex;
        width: 85%;
        justify-content: space-between;
        align-items: center;
        .heading {
          font-size: 1.3em;
        }
        .closeTaskButton {
          width: fit-content;
          padding: 5px;
          cursor: pointer;
          .close_icon {
            font-size: 2em;
          }
        }
      }
    }
    .taskFormWrapper {
      width: 100%;
      height: 85%;
      position: relative;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .taskForm {
        background-color: $white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        .formItemProject {
          width: 80%;
          margin-top: 2em;
          margin-bottom: 1em;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          .title {
            font-size: larger;
            margin-bottom: 10px;
          }
          .projectTitle {
            margin-left: 10px;
            flex-grow: 1;
            height: 35%;
            font-size: 1em;
            background-color: rgba(0, 0, 0, 0.1);
            cursor: not-allowed;
          }
        }
        .formItemSummary {
          width: 80%;
          margin: 1em 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: larger;
          }
          .inputForm {
            width: 100%;
            padding: 3px;
            font-size: 1em;
          }
        }
        .formItemDescription {
          width: 80%;
          margin: 1em 0;
          display: flex;
          flex-direction: column;
          justify-content: start;
          .title {
            font-size: larger;
          }
          .inputForm {
            width: 100%;
            border: 1px solid black;
          }
        }
        .formItemPriority {
          width: 80%;
          margin: 1em 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: larger;
          }
          .inputForm {
            width: 30%;
            height: 35%;
            font-size: 1.1em;
            padding: 2px;
            background-color: #e6f5fc;
            border: 2px solid transparent;
            &:hover {
              border: 2px solid #1e90ff;
            }
          }
        }
        .formItemStatus {
          width: 80%;
          margin: 1em 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: larger;
          }
          .inputForm {
            width: 30%;
            height: 35%;
            font-size: 1.1em;
            padding: 2px;
            background-color: #e6f5fc;
            border: 2px solid transparent;
            &:hover {
              border: 2px solid #1e90ff;
            }
          }
        }
        .formItemAssign {
          width: 80%;
          margin: 1em 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          .title {
            font-size: larger;
          }
          .inputForm {
            margin-left: 10px;
            width: 30%;
            height: 35%;
            padding: 2px;
            font-size: 1em;
          }
        }
        .formItemStory {
          width: 80%;
          margin: 1em 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          .title {
            font-size: larger;
          }
          .inputForm {
            margin-left: 10px;
            width: 10%;
            height: 35%;
            padding: 2px;
            font-size: 1em;
          }
        }
        .submitButton {
          position: absolute;
          right: 2em;
          bottom: 1em;
          background-color: $task_button;
          font-weight: bold;
          padding: 5px;
          border-radius: 3px;
        }
      }
    }
  }
}
