.projectcard_wrapper {
  background-color: burlywood;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 3px 10px black;
  }
  .projectcard {
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .projectcard_title {
      font-weight: bold;
      font-size: 1.1em;
      white-space: wrap;
      overflow: hidden;
      word-wrap: break-word; /* For non-WebKit browsers */
      overflow-wrap: break-word; /* For WebKit browsers */
      //hyphens: auto; /* Enable hyphenation */
    }
    .projectcard_deadline {
      align-self: flex-start;
      font-size: small;
      color: #333;
      margin: 0.7em 0;
    }
    .projectcard_progress {
      width: 100%;
      margin-top: auto;
      .progress_text {
        font-size: 0.8em;
      }
    }
  }
}
