.projectcard_wrapper {
  background-color: $project_card_bg;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  position: relative;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 3px 10px black;
  }
  .projectcard {
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .menu {
      position: absolute;
      top: 5%;
      right: 5%;
      display: flex;
      flex-direction: column;
      align-items: end;
      .dots {
        font-size: 1.2em;
        height: 1.5em;
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
      .options {
        display: none;
        .option {
          padding: 5px;
          border-radius: 5px;
          background-color: $white;
          .trashCan {
            margin-left: 2px;
          }
        }
      }
    }
    .projectcard_title {
      font-weight: bold;
      font-size: 1.1em;
      color: $white;
      white-space: wrap;
      overflow: hidden;
      word-wrap: break-word; /* For non-WebKit browsers */
      overflow-wrap: break-word; /* For WebKit browsers */
      //hyphens: auto; /* Enable hyphenation */
    }
    .projectcard_deadline {
      align-self: flex-start;
      font-size: small;
      color: #ddd;
      margin: 0.7em 0;
    }
    .projectcard_progress {
      width: 100%;
      margin-top: auto;
      .progress_text {
        font-size: 0.8em;
        color: $white;
      }
    }
  }
}
