.status_section {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .status_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $board_color;
    width: 90%;
    height: 95%;
    border-radius: 2%;
    .status_title {
      height: 30px;
      width: 100%;
      margin-bottom: 3px;
      color: white;
      text-align: center;
      background-color: $board_title;
    }
    .status_body {
      width: 95%;
      height: 95%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .task_link {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
