.task_card_wrapper {
  width: 100%;
  height: 30%;
  .task_card {
    width: 100%;
    height: 90%;
    background-color: $task_card_bg;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .task_title {
      width: 90%;
      height: 70%;
      text-align: center;
      font-size: 1.2em;
      font-weight: 625;
      overflow: hidden;
    }
    .task_details {
      display: flex;
      width: 100%;
      height: 30%;
      justify-content: space-around;
      align-items: center;
      .task_assign_wrapper {
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .task_assign {
          width: fit-content;
          padding: 2px 5px;
          border-radius: 3px;
          background-color: $task_card_assign;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 0.7em;
          font-weight: bold;
        }
      }
      .task_priority_and_story {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 40%;
        .task_priority {
          height: 80%;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: $task_card_priority_bg;
          display: flex;
          align-items: center;
          justify-content: center;
          .low_priority_icon {
            color: $task_card_priority_low;
          }
          .medium_priority_icon {
            color: $task_card_priority_medium;
          }
          .high_priority_icon {
            color: $task_card_priority_high;
          }
        }
        .task_story {
          height: 80%;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: $task_card_story_bg;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
          font-size: 0.8em;
          font-weight: bold;
        }
      }
    }
  }
}
