// $sidebar_bgColor: cornflowerblue;
// $app_name: white;
// $app_tagline: #ddd;

// $project_mem: #ccc;
// $task_button: #7ac23e;

// //user profile
// $profile_bg: aliceblue;
// $user_title: #555;

// //task board
// $board_color: #8a87e2;
// $board_back: #f2f2f9;

// //task card
// $task_card_bg: white;
// $task_card_assign: rgb(163, 89, 233);
// $task_card_priority_bg: #e1e0e0;
// $task_card_priority_low: hsl(23, 100%, 50%);
// $task_card_priority_medium: #ff4000;
// $task_card_priority_high: red;
// $task_card_story_bg: #e1e0e0;

$white: #ffffff;

//sidebar
$sidebar_bgColor: #78a0e5;
$app_name: white;
$app_tagline: #ddd;

$project_mem: #ccc;
$task_button: #ee8434;

//user profile
$profile_bg: #326386;
$user_title: #555;

//task board
$board_color: #5b82d2;
$board_title: #305bb0;
$board_back: #f3f8ff;

//task card
$task_card_bg: white;
$task_card_assign: #6a87e9;
$task_card_priority_bg: #e1e0e0;
$task_card_priority_low: #fc4802;
$task_card_priority_medium: #ef270c;
$task_card_priority_high: #e9190f;
$task_card_story_bg: #e1e0e0;

//create task modal
$create_task_heading_bg: $board_color;
$task_form_bg: #feffff;
